@import url('https://fonts.googleapis.com/css?family=Exo|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
body{
    background-color: #c3073f;
}
a{
    color: antiquewhite;
}
h1{
    font-family: Exo;
    font-size:200px;
    text-align: center;
}
p{
    font-family: Exo;
    font-size: 50px;
    align-content: flex-start;
}